<!-- Header -->
<% include partials/_header %>
<!-- Navigation -->
<% include partials/_nav %>

<!-- Main -->
    <div class="container">
        <div class="row">
            <%- include("partials/_form", { 
                formTitle: "Create new task", 
                task: null,
                formAction: '/add', 
                formSubmitText: 'Add' 
            }) %>
            <!-- List data table -->
            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < tasks.length; i++) { %>
                            <tr>
                                <td><%= i+1 %></td>
                                <td><%= tasks[i].title %></td>
                                <td><%= tasks[i].description %></td>
                                <td>
                                    <a href="toggle/<%= tasks[i]._id %>" class="btn btn-<%= tasks[i].status ? "success" : "dark" %>" >Done</a>
                                    <a href="delete/<%= tasks[i]._id %>" class="btn btn-danger">Delete</a>
                                    <a href="edit/<%= tasks[i]._id %>" class="btn btn-info">Edit</a>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<!-- Footer -->
<% include partials/_footer %>

 