<!-- Header -->
<% include partials/_header %>
<!-- Navigation -->
<% include partials/_nav %>

<!-- Main -->
    <div class="container">
        <div class="row">
            <!-- Form -->
            <div class="col-md-5">
                <div class="card">
                    <div class="card-title">
                        Create new task
                    </div>
                    <div class="card-body">
                        <form action="/add" method="POST">
                            <div class="form-group">
                                <input type="text" name="title" placeholder="Enter title" class="form-control">
                            </div>
                            <div class="form-group">
                                <textarea name="description" cols="80" class="form-control"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">
                                Add task
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- List data table -->
            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < tasks.length; i++) { %>
                            <tr>
                                <td><%= i+1 %></td>
                                <td><%= tasks[i].title %></td>
                                <td><%= tasks[i].description %></td>
                                <td>
                                    <a href="toggle/<%= tasks[i]._id %>" class="btn btn-<%= tasks[i].status ? "success" : "dark" %>" >Done</a>
                                    <a href="delete/<%= tasks[i]._id %>" class="btn btn-danger">Delete</a>
                                    <a href="edit/<%= tasks[i]._id %>" class="btn btn-info">Edit</a>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<!-- Footer -->
<% include partials/_footer %>

 